body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.menu-toggle {
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

nav {
  position: fixed;
  left: -20rem;
  width: 20rem;
  height: 100%;
  background-color: rgb(51, 51, 51);
  color: white;
  display: flex;
  flex-direction: column;
  transition: left 0.5s ease;
  padding-top: 4rem;
}

nav.open {
  left: 0;
}

.menu-item {
  display: flex;
  padding: 2rem;
  border-bottom: 1px solid rgb(48, 47, 47);
  opacity: 0;
  transform: translateX(-4rem);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

nav.open .menu-item {
  opacity: 1;
  transform: translateX(0);
}

nav.open .menu-item:nth-child(1) {
  transition-delay: 0.1s;
}

nav.open .menu-item:nth-child(2) {
  transition-delay: 0.2s;
}

nav.open .menu-item:nth-child(3) {
  transition-delay: 0.3s;
}

nav.open .menu-item:nth-child(4) {
  transition-delay: 0.4s;
}

.menu-number {
  font-size: 1rem;
  color: rgb(164, 164, 164);
  margin-right: 2rem;
}

.menu-content {
  flex: 1;
}

.menu-content h3 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.menu-content p {
  margin: 1.2rem 0rem 1.2rem;
  color: rgb(204, 204, 204);
  font-weight: 350;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  width: 100%;
  transition: margin-left 0.5s ease;
}

nav.open + .content {
  margin-left: 20rem;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1rem;
  color: #6d6d6d;
}
